* {
    box-sizing: border-box;
}

.header {
    margin-left: 150px;
    margin-right: 20px;
}

.flipcartplus {
    width: 150px;
    height: 30px;
}

.header span {
    color: #ffe500;
}

.explore_class {
    color: white;
    display: block;
    text-decoration: none;
}

.explore_class:hover {
    text-decoration: underline white;
    color: white;
}

.main {
    display: flex;
    background-color: #e4e7ed;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.searchBar {
    margin: 15px;
}

.flex-container,
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: center;

}

form.search1 input[type=text] {
    width: 300px;
    padding: 12px;
    font-size: small;
    border: none;
    float: left;
    background: #ffffff;
}

form.search1 button {
    padding: 12px;
    float: right;
    background: #ffffff;
    color: rgb(0, 98, 255);
    font-size: small;
    border: none;
    cursor: pointer;
}

.loginDiv {
    margin: 18px;
}

.loginDiv button {
    border: none;
    width: 150px;

    height: 35px;
    color: rgb(0, 98, 255);
    background-color: white;
    font-weight: bold;
}

.dropbtn {
    background-color: transparent;
    color: white !important;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
    z-index: 1;
}

.dropdown-content a {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.more-info i{
    color:rgb(8, 82, 253);
}

i {
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.middel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    align-items: center;
    box-sizing: border-box;
}

.middel a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.middel_images {
    width: 60px;
}

.middel-element {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin: 0px 5px;
}

.dropdown span {
    font-weight: 500;
    color: black;
}

.middel-element i {
    color: black;
}

.description:hover {
    color: rgb(45, 45, 235);
}


.main-content {
    width: 98%;
    color: rgb(78, 78, 78);
    padding: 10px;
    border: 1px solid rgb(203, 203, 203);
    background-color: white;
    margin-top: 1rem;
    margin-left: 10px;
}

label {
    margin-bottom: 0px;
}

img:hover {
    transition: all 0.2s ease;
    transform: scale(1.025);
}


.name {
    color: black;
}

.offer {
    color: green;
}

.description {
    color: gray;
}

.main-content-2 {
    width: 98%;
    background-color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 10px;
}

.flex-main-content {
    width: 90%;
    float: left;
}

.SubDiscription {
    color: grey;
}

.mainDiscription {
    font-size: xx-large;
    color: black;
}

.sublabel {
    font-size: 15px;
    color: grey;
    margin-left: 15px;
}

.flex-main-content-3 {
    width: 90%;
    float: left;
    display: flex;
    flex-direction: column;
}

.main-content-3 {
    width: 100%;
    border: 1px solid rgb(203, 203, 203);
    background-color: white;
}



.main-menu-content {
    margin-top: 10px;
    background-color: #e4e7ed;
}

.child {
    margin: 0 0.5em;
    background-color: white;

}

.child a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child img {
    margin-top: 5px;
    max-width: 50%;
    max-height: 100%;
    width: 300px;
    height: 150px;
    justify-content: center;
}

/* for carousel */

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 50%;
    max-height: 100%;
    width: 150px;
    height: 200px;
    justify-content: center;


}

.card {
    margin: 0 0.5em;
    border: none;
    border-radius: 0;
    width: 18rem;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev {
    left: -5%;
}

.carousel-control-next {
    right: -5%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #0f0404;
    border-radius: 50%;
    background: none;

}

.carousel-control-prev img,
.carousel-control-next img {
    width: 35px;
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
}

@media screen and (max-width:1136px) {
    .main-content-2 {
        overflow-x: auto;
    }
}

.wrapper{
    width: 380px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 89%;
    display: none;
}
.toast{
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 7px;
    display:grid;
    grid-template-columns: 1.3fr 6fr 0.5fr;
    box-shadow: 0 15px 30px black;
    opacity: 1;
}

.success{
    border-left: 8px solid green;
}

.container-1,.container-2{
    align-self: center;
}
.success i{
    color:green;
}

.container-1 i{
    font-size: 35px;
  
}

.container-2 p:first-child{
    font-size: 15px;
    color:rgb(32, 30, 30);
    font-weight: 700;
}


.toast button{
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    border: none;
    line-height: 0;
    cursor: pointer;
    color: #263238;
}